.section {
  background: #fff;
  padding: 141px 0 90px;
}

 .container {
  background: #fff;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 39px 0 39px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.eyebrow p {
  font-size: 14px;
    line-height: 16px;
  color: #182B44;
    letter-spacing: 0.28px;
    font-family: 'Helvetica Neue';
}

.content h2 {
  max-width: 655px;
  font-size: 44px;
  line-height: 51px;
  font-weight: 400;
  color: #182B44;
  margin: 0 0 70px;
  letter-spacing: -0.97px;
  font-family: 'Editor';
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 300px));
  gap: 60px;
  margin-bottom: 160px;
}

.columns p {
  font-size: 14px;
    line-height: 16px;
    color: #182B44;
    letter-spacing: 0.28px;
    font-family: 'Helvetica Neue';
}

.button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #b59a73;
}

.button span:first-child {
  border: 1px solid #b59a73;
  padding: 14px 24px;
  border-radius: 999px ;
      font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
        font-family: 'Helvetica Neue'
}

.arrow {
  width: 50px;
  height: 50px;
  border: 1px solid #b59a73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
;
  transition: 0.3s;
}

.button:hover .arrow {
  transform: translateX(4px);
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .content h2 {
    margin-bottom: 40px;
  }

  .columns {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 40px;
  }
  .container {
    padding: 0 20px;
  }
}