.floating-cta {
  position: relative;
  background: #fff;
}

.floating-cta .page-width {
  max-width: 1180px;
}

.floating-cta__card {
  background: #fff;

  border-radius: 34px;

  padding: 35px;

  display: flex;
  flex-direction: column;

  gap: 30px;

  align-items: center;

  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.12);

  position: relative;

  top: -50px;
}

.floating-cta__icon {
  width: 120px;
  flex-shrink: 0;
}

.floating-cta__icon img {
  display: block;
  height: auto;
  width: 100%;
}

.floating-cta__content {
  text-align: center;
}

/* Heading */

.floating-cta__heading {
  color: #035c67;

  margin: 0 0 18px;

  font-size: 29px;

  line-height: 1.15;

  font-weight: 700;
}

.floating-cta__heading p {
  margin: 0;
}

/* Description */

.floating-cta__text {
  color: #035c67;

  font-size: 20px;

  font-weight: 700;

  line-height: 1.5;
}

.floating-cta__text p {
  margin: 0;
}

/* Button */

.floating-cta__button {
  display: inline-flex;

  justify-content: center;
  align-items: center;

  margin-top: 30px;

  background: #035c67;

  color: #fff;

  text-decoration: none;

  padding: 5px 40px;

  border-radius: 999px;

  font-size: 18px;

  font-weight: 700;

  transition: 0.3s;
}

.floating-cta__button:hover {
  background: #397f77;
}

/* Desktop */

@media (min-width: 990px) {
  .floating-cta__card {
    flex-direction: row;

    align-items: center;

    padding: 45px 60px;

    gap: 45px;
  }

  .floating-cta__icon {
    width: 130px;
  }

  .floating-cta__content {
    flex: 1;

    text-align: left;
  }

  .floating-cta__heading {
    font-size: 29px;

    max-width: 650px;
  }

  .floating-cta__text {
    font-size: 20px;
  }
}